{% extends 'base.html' %}
{% load static %}

{% block title %}Детская одежда{% endblock %}

{% block content %}
<h1>Детская одежда</h1>

<div class="books-grid">
    {% if items %}
        {% for item in items %}
            <div class="book-card">
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.title }}">
                {% else %}
                    <img src="{% static 'images/default.png' %}" alt="Нет изображения">
                {% endif %}
                <h2>{{ item.title }}</h2>
                {% if item.description %}
                    <p>{{ item.description|truncatewords:15 }}</p>
                {% endif %}
                <p>Цена: {{ item.price }} сом</p>
                <a href="{% url 'clothes:item_detail' item.id %}" class="btn btn-add">Подробнее</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Пока нет детской одежды.</p>
    {% endif %}
</div>
{% endblock %}



