{% extends 'base.html' %}
{% load static %}

{% block title %}Форма фильма{% endblock %}

{% block content %}
<div class="container">
  <h1>{% if form.instance.pk %}Редактировать фильм{% else %}Добавить фильм{% endif %}</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.instance.poster %}
      <p>Текущий постер:</p>
      <img src="{{ form.instance.poster.url }}" alt="poster" style="width:200px; border-radius:8px; display:block; margin-bottom:10px;">
    {% endif %}
    <button class="btn" type="submit">Сохранить</button>
  </form>
</div>
{% endblock %}
