<h2>{{ book_id.title }}</h2>
<img src="{{ book_id.image.url }}" alt="" width="400" height="350">
<p>{{ book_id.description }}</p>
<p>{{ book_id.quantity_page }}</p>
<p>{{ book_id.author }}</p>

<iframe width="560" height="315" 
        src="https://www.youtube.com/embed/BAEkDtvqi6A" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
</iframe>

<p>{{ book_id.created_at }}</p>



